server.port=8443
server.ssl.key-store=/opt/skryv/keystore_tomcat.jks
server.ssl.key-store-password=bigsecret
server.ssl.key-password=biggersecret
server.ssl.key-alias=tomcat
application.jwt.tenant=56892771-9359-41ec-7c8b-f32b329ce8f3
application.jwt.issuer=example
application.oauth.client-id=skryv-viaa
application.oauth.secret=biggestsecret
application.oauth.signing-key=bigkey
application.oauth.redirect=https://app.example.org
application.ldap.enabled=true
application.ldap.allowCP=true
application.ldap.inmemory=false
application.ldap.overrideForSkryv=false
application.ldap.host=ldapserver.datacenter.example.org
application.ldap.port=636,636
application.ldap.user=cn=readpnly,dc=example,dc=org
application.ldap.password=ldapseceret
application.ldap.userDn=ou=users,dc=example,dc=org
application.ldap.groupDn=ou=groups,dc=example,dc=org
application.ldap.organizationDn=ou=users,dc=example,dc=org
